body{
    margin: 0px;
    padding:0px;
font-family: 'Ubuntu', sans-serif;
}
.top-header{
 width: 100%;
height: 10px;
margin-bottom: 0px;
    }
.detail ul{
  
    border-radius: 3px;
    float: left;
    margin-top: 0px;
}
.top-header li{
    list-style: none;
    display: inline-block;
    margin-right:20px;
     }
.social-icon{   
float: right;
}
.social-icon a{
    padding: 5px;
}
/*-------------navbar------------------------*/
.navigation {
    width: 100%;
    background-color:white;
    height: 30px;
    display: inline-block;
    margin-top: 0px;
    top: 0px;
position: static    ;}
.logo{
    width: 30%;
    float: left;
    margin-top: 0px;
    top: 0px;
    margin-left: 30px;
}
.logo1{
    width: 120px;
    height: 80px;
    margin-top: 0px;
  }
.navbar{
    width: 70%;
    margin-left: 500px;
    border: 1px solid none;
    border-radius:20px;
     background: #75646b;
    background: linear-gradient(225deg, rgb(167, 151, 158) 0%, rgba(249,64,126,1) 100%); 
   }
   .navbar ul{
       margin-top: 0px;
       margin-bottom: 0px;
   }
.nav{
    display: inline-block ;
    padding: 10px;
  }
.nav a{
    text-decoration: none;
    font-size: 2.3vw;
    color:white;
    margin-left: 40px;
       font-style: bold;
   }
.navbar ul li  :hover{
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.navbar ul li .active{
    /*border-bottom: 3px solid white;
    border-top: 3px solid white; */
    border: 2px none  white;
    background-color: white;
    color: rgb(190, 51, 79);
    padding:  10px 10px 11px 10px;
}
/*--- Service page--*/
.service{
    width: 100%;
    margin-top: 100px;

}


 .card{
     display: inline-block;
    height: 500px;
    width: 30%;
    margin:20px;
    padding: 0px;
    border: 1px solid black;
        
        
    }
/* .service .card .face{
     width: 300px; 
     height: 200px; 
    transition: 0.5s;
    margin: 10px;
    background-color: rgb(190, 51, 79);
  
} */
/* .service .card .face .face1{ */
    /* position: relative; */
    /* background-color: blue; */
    /* justify-content: center; */
    /* align-items: center; */
    /*  z-index: 1; */

/* .service .card .face .face2{
    background-color: brown;


    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(249,64,126,1);
}  */
 .content{
width: 100%;
height: 50%;
margin: 0px;
}
.content img{
    width:100%;
    height:100%;
}
.prgh{
    margin-top: 0px;
    background-color: rgb(190, 51, 79);
    height: 250px;
}
.prgh p{
    border-top:1px solid black ;
    padding: 0px;
   
    font-size: 1.2vw;

}

.prgh a{
    border:1px solid black;
    text-decoration: none;
    padding: 5px;
}
