*{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.top-header{
 width: 100%;
height: 10px;
margin-bottom: 0px;
    }
.detail ul{
  
    border-radius: 3px;
    float: left;
    margin-top: 0px;
}
.top-header li{
    list-style: none;
    display: inline-block;
    margin-right:20px;
     }
.social-icon{   
float: right;
}
.social-icon a{
    padding: 5px;
}
/*-------------navbar------------------------*/
.navigation {
    width: 100%;
    background-color:white;
    height: 30px;
    display: inline-block;
    margin-top: 10px;
    top: 0px;
position: static    ;}
.logo{
    width: 30%;
    float: left;
    margin-top: 0px;
    top: 0px;
    margin-left: 30px;
}
.logo1{
    width: 120px;
    height: 80px;
    margin-top: 0px;
  }
.navbar{
    width: 70%;
    margin-left: 500px;
    border: 1px solid none;
    border-radius:20px;
     background: #75646b;
    background: linear-gradient(225deg, rgb(167, 151, 158) 0%, rgba(249,64,126,1) 100%); 
   }
   .navbar ul{
       margin-top: 0px;
       margin-bottom: 0px;
   }
.nav{
    display: inline-block ;
    padding: 10px;
  }
.nav a{
    text-decoration: none;
    font-size: 2.3vw;
    color:white;
    margin-left: 40px;
       font-style: bold;
   }
.navbar ul li  :hover{
    border-bottom: 3px solid white;
    border-top: 3px solid  white;
}
.navbar ul li .active{
    /*border-bottom: 3px solid white;
    border-top: 3px solid white; */
    border: 2px none  white;
    background-color: white;
    color: rgb(190, 51, 79);
    padding:  10px 10px 11px 10px;
}
/*------------------menu-page-----*/
.menu-page{
    margin-top:20px;
 background-color:whitesmoke;
height: 300px;
}
.heading1 h1{
    text-align: center;
    padding-top:50px;
    color:rgb(190, 51, 79);
}
.heading1 p{
    padding-top: 50px;
    text-align: center;
    color:black;
    font-size: 1.3vw;
    padding-bottom: 50px;
    font-style: italic;
   
}
.heading1 pre{
    text-align: center;
    font-size: 2vw;
    font-family:'Grandstander', cursive;

}
/* .menu-box{
border-top: 2px solid rgba(175,68,90);
margin-top: 35px;
border-bottom:  2px solid rgb(175, 68, 90);;
}

.menu-box ul li{
    list-style: none;
    display: inline-block;
    padding:40px
}
.menu-box ul li a{
    text-decoration: none;
    font-size: 1.5vw;
    color:black;

}
.menu-box ul li :hover{
    color:white;
    padding:10px;
    background:crimson;
    border-radius: 10px;
 border-top: 4px solid rgb(175, 68, 90);
    border-bottom: 4px solid rgb(175, 68, 90);*/
.menu-box{
        overflow: hidden;
        border-bottom:1px dashed red;
  
}
.menu-box button{
    background-color: inherit;
    float: left;
    outline: none;
       border:none;
       cursor: pointer;
       padding:14px 16px;
       transition:0.3s;
       font-size:1.5vw;

}
.menu-box button:hover{
    color:white;
    padding:10px;
    background:crimson;
    border-radius: 10px;
 
}
.menu-box button.active {
    background-color: cyan;
}
.menuContent{
    display: none;
  
}
.menuContent h3{
    text-align: center;
    padding:30px;
    font-family:'Grandstander', cursive;
    line-height: 10px;
    font-size: 2vw;
}
.grid-container{
    display: grid;
    grid-gap:5px;
    grid-template-columns: auto auto auto;
    background-color:rgba(249,64,126,1);
   
}
.grid-item{
    background: rgb(253, 248, 248);
    margin: 5px;
    border-radius: 10%;
    display: inline;
}

.grid-container div h3{
    text-align: center;
    padding:0;
    margin: 0px;
}
.ig{
    width: 30%;
    float: left;
 
}
.grid-item img{
    height:100px;
    padding: 5px;
   border-radius: 50%;
    width: 100%;
}
.item-info{
    width: 70%;
    float: left;
}
.item-info p{
    margin: 30px 0px 30px 20px;
}